
<div class="col-md-3"></div>
<div class="col-md-6 rightPanel" style="margin:auto; margin-top:5%">

    <p style="    display: inline-block;
            font-size: 20px;
            margin-bottom: 10px;
            color: #333;
            letter-spacing: 2px;
            text-transform: capitalize;">Sign In</p>

    <p style="float:right; margin-top:8px; font-size:15px;">or &nbsp;&nbsp; <a routerLink='/register'
            routerLinkActive='active'>Create a
            Account</a></p>
    <br />
    <br />

    <p *ngIf="isLoginError" style="color:red; text-align:center;">Email or Password Incorrect</p>
    <form id="loginform" #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value, password.value)">
        <div class="form-group">
            <!-- <label for="email">Email address:</label> -->
            <input type="email" name="email" #email ngModel class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <!-- <label for="pwd">Password:</label> -->
            <input type="password" name="password" #password ngModel class="form-control" id="pwd"
                placeholder="Password">
        </div>

        <button type="submit" [disabled]="isLoading" style="width:100%;" class="btn btn-primary">
            Submit
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin" style="text-align:center;font-size:15px"></i>
        </button>
    </form>


    <br />

    <br />
    <br /><br />

</div>
<div class="col-md-3"></div>