<nav class="navbar navbar-inverse" *ngIf="!isUserLoggedIn">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink='/home' routerLinkActive='active' >Blogging App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink='/home' routerLinkActive='active'>Home</a></li>
            <li><a routerLink='/home' routerLinkActive='active'>Blogs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink='/register' routerLinkActive='active'><span class="glyphicon glyphicon-user"></span>
                    Register</a></li>
            <li><a routerLink='/login' routerLinkActive='active'><span class="glyphicon glyphicon-log-in"></span>
                    Login</a></li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse" *ngIf="isUserLoggedIn">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink='/home' routerLinkActive='active' >Blogging App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink='/home' routerLinkActive='active'>Home</a></li>
            <li><a routerLink='/home' routerLinkActive='active'>Blogs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink='/new' routerLinkActive='active'>New Blog</a></li>
            <li><a (click)="Logout()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </div>
</nav>